section {
  width: 100%;
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  animation: scale-up-center-normal 1s ease 0s 1 normal none;
  @keyframes scale-up-center-normal {0% { transform: scale(0.5); } 100% { transform: scale(1);} }

  ul {
    width: 295px;
    height: 67px;
    position: fixed;
    background: #343434f7;
    box-shadow: 0px 0px 24px 7px #59595940;
    border-radius: 5000px;

    display: flex;
    justify-content: center;
    gap: 32px;

    li {
      display: flex;
      align-items: center;
      span {
        transition: ease-out 0.3s;
        cursor: default;
        font-size: 16px;
        font-weight: 500;
        color: #C8C8C8;
      }

      &.active {
        span {
          transition: ease 0.3s;
          color: white;
          font-weight: 700;
        }
      }
      &:hover {
        span {
          transition: ease 0.3s;
          cursor: pointer;
          color: white;
          font-weight: 700;
        }
      }
    }
  }
}
